---
import FireworksCommandLayout from "@/layouts/FireworksCommandLayout.astro";
import FireworksArticle from "@/components/FireworksArticle.astro";
import { getCommands } from "@/utils/getCommands";
import { base } from "@/utils/urls";

const Requested = [
	"Custom Nudge",
	"Export as Favicon",
	"Export Selection",
	"Fake Underline",
	"Fill With Background",
	"FlickrFire",
	"FWXHR",
	"Grids",
	"Linked Images",
	"Placeholder",
	"Select Next Element",
	"Smart Punch",
	"Solo Command",
	"Tables",
	"Text Variables",
	"TweetFire",
];

const title = "Requests";
const commands = await getCommands();
const items = Requested
	.map((name) => commands.find((c) => c.data.name === name))
	.filter(Boolean);
---

<FireworksCommandLayout
	title={title}
	disqusID="fireworks/requests"
	meta={{
		description: "Request a new custom Adobe Fireworks extension!"
	}}
>
	<FireworksArticle title={title}>
		<p>Have you ever wished Fireworks worked differently or had a new feature?
			Well, I take requests (sometimes). A number of the commands available for
			download here were suggested or inspired by Fireworks users,
			including:</p>

		<ul>
			{items.map(({ slug, data: { name } }) =>
				<li>
					<a href={base(`/fireworks/about/${slug}`)}>{name}</a>
				</li>
			)}
		</ul>

		<p>So leave a comment below and let me know what new functionality you'd
			like to see in Fireworks. The time I have to work on Fireworks extensions
			waxes and wanes, so I can't promise when or if I'd ever get to a
			particular request. But feel free to ask away!</p>
	</FireworksArticle>
</FireworksCommandLayout>
