:root {
	color-scheme: light dark;

	--text-color-accent: #cc3300;
	--text-color-primary: #000;
	--text-color-secondary: #666;
	--text-color-muted: #333;
	--color-background: #fff;
	--color-surface: #f3f3f3;
	--color-border: #ccc;
	--color-link-hover: #999999;
	--color-link-visited: #883300;
	--color-code-bg: #f3f3f3;
	--color-code-text: #111;
	--color-inline-code: #111;
	--header-primary: #000;
	--header-secondary: #666;

	font-size: 16px;
	--spacing-sm: 0.75rem;
	--spacing-md: 1.5rem;
	--spacing-lg: 2.5rem;
	--spacing-xl: 5rem;
	--content-w: 60rem;

	@media (max-width: 1100px) {
		--content-w: 52rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--text-color-accent: #ee3300;
		--text-color-primary: #f5f5f6;
		--text-color-secondary: #b6b7bc;
		--text-color-muted: #d6d7dc;
		--color-background: #202020;
		--color-surface: #303030;
		--color-border: #555;
		--color-link-hover: #ffb48a;
		--color-link-visited: #d2694b;
		--color-code-bg: #3a3a3a;
		--color-code-text: #f2f2f2;
		--color-inline-code: #f2f2f2;
		--header-primary: #eee;
		--header-secondary: #aaa;
	}
}

html {
	font-family: "Trebuchet MS", system-ui, sans-serif;
	color: var(--text-color-primary);
	background-color: var(--color-background);
}

body {
	line-height: 1.25;
	padding: 0 max(var(--spacing-md), (100vw - var(--content-w)) / 2);
	margin: auto;
}

body > .content {
	max-width: var(--content-w);
	display: grid;
	grid-template-areas:
		"site-name header"
		"sidebar main";
	grid-template-columns: min-content 1fr;

	@media (max-width: 720px) {
		grid-template-areas:
			"site-name header"
			"main main";
		grid-template-columns: auto 1fr;
	}
}

main {
	position: relative;
}

h1, h2, h3, h4 {
	font-weight: bold;
	color: var(--text-color-secondary);
}

h1 {
	font-size: 1.5rem;
	margin: 3rem 0 0.75rem 0;
}

h2 {
	font-size: 1rem;
	margin: 1rem 0 0.25rem 0;
}

p {
	margin-bottom: var(--spacing-sm);
}

p:last-of-type {
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: var(--color-link-hover);
}

a, a:link, a:hover, a:active {
	color: var(--text-color-accent);
}

a:visited {
	color: var(--color-link-visited);
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

blockquote {
	margin: 2em 2em 0 2em;
	font-size: smaller;
}

ol, ul {
	margin-left: 1.5em;
	margin-bottom: 1em;
	padding-inline-start: 1.5em;
}

ol li {
	list-style: decimal outside;
}

li > ul {
	margin: .25em 0 0 0;
}

li::marker {
	color: var(--text-color-secondary);
	font-weight: bold;
}

sup {
	font-size: x-small;
	font-weight: bold;
}

code {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
	Bitstream Vera Sans Mono, Courier New, monospace;
	font-size: .85em;
	background-color: var(--color-code-bg);
	color: var(--color-code-text);
	padding: .15em .3em;
	border-radius: .25rem;
}
