:root {
	--highlight: #cc3300;
	--color-accent: #cc3300;
	--text-color-primary: #000;
	--text-color-secondary: #666;
	--spacing-sm: 0.75rem;
	--spacing-md: 1.5rem;
	--spacing-lg: 2.5rem;
	font-size: 16px;
}

html {
	font-family: "Trebuchet MS", system-ui, sans-serif;
	background-color: white;
}

body {
	line-height: 1.25;
	padding: 0;
	margin: auto;
	max-width: 55rem;
}

body > .content {
	display: grid;
	grid-template-areas:
		"site-name header"
		"sidebar main";
	grid-template-columns: min-content 1fr;
}

main {
	position: relative;
}

h1, h2, h3, h4 {
	font-weight: bold;
	color: var(--text-color-secondary);
}

h1 {
	font-size: 1.5rem;
	margin: 3rem 0 0.75rem 0;
}

h2 {
	font-size: 1rem;
	margin: 1rem 0 0.25rem 0;
}

ul, ol {
	padding-left: var(--spacing-lg);
}

p {
	margin-bottom: var(--spacing-sm)
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #999999
}

a, a:link, a:hover, a:active {
	color: var(--highlight);
}

a:visited {
	color: #883300;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

blockquote {
	margin: 2em 2em 0 2em;
	font-size: smaller;
}

ol {
	margin-left: var(--spacing-lg);
	margin-bottom: 1em;
}

ol li {
	list-style: decimal outside;
}

sup {
	font-size: x-small;
	font-weight: bold;
}

code, .astro-code {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
	Bitstream Vera Sans Mono, Courier New, monospace;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
