---
import { getCommands } from "@/utils/getCommands";
import { base } from "@/utils/urls";

	// get the commands sorted alphabetically
const commands = await getCommands()
const fullPath = Astro.url.pathname.replace(/\/$/, "");
const currentPage = fullPath.slice(fullPath.lastIndexOf("/") + 1);
---

<nav>
	<ul role="list">
		{commands.map(({ slug, data: { name, summary } }) => (
			<li>
				<a
					href={base(`/fireworks/about/${slug}`)}
					title={summary.replaceAll("<br>", "")}
					aria-current={currentPage === slug ? "page" : undefined}
				>{name}</a>
			</li>
		))}
	</ul>
</nav>

<style lang="scss">
	nav {
		padding-right: 3rem;
		grid-area: sidebar;

		& > ul {
			padding: 0;
			margin: 13rem 0 0 0;
		}

		li {
			font-size: smaller;
			margin-bottom: .5em;
		}

		li a[aria-current] {
			color: var(--text-color-secondary);
			font-weight: bold;
			pointer-events: none;
		}
	}

	@media (max-width: 720px) {
		nav {
			display: none;
		}
	}
</style>
