---
import { getCommands } from "@/utils/getCommands";

	// get the commands sorted alphabetically
const commands = await getCommands()
const fullPath = Astro.url.pathname.replace(/\/$/, "");
const currentPage = fullPath.slice(fullPath.lastIndexOf("/") + 1);
---

<nav>
	<ul role="list">
		{commands.map(({ slug, data: { name, summary } }) => (
			<li>
				<a
					href={`/fireworks/about/${slug}`}
					title={summary.replaceAll("<br>", "")}
					aria-current={currentPage === slug ? "page" : undefined}
				>{name}</a>
			</li>
		))}
	</ul>
</nav>

<style>
	nav {
		padding-right: 3rem;
		grid-area: sidebar;
	}

	@media (max-width: 720px) {
		nav {
			display: none;
		}
	}

	ul {
		padding: 0;
		margin: 9rem 0 0 0;
	}

	li {
		font-size: smaller;
		margin-bottom: .5em;
	}

	li a[aria-current] {
		color: #666;
		font-weight: bold;
		pointer-events: none;
	}
</style>
