---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
	title: string;
	heroImage?: ImageMetadata;
}

const { title, heroImage } = Astro.props;
---

<article>
	<h1>{title}</h1>

	{heroImage &&
		<Image class="hero-image" src={heroImage} alt="" />
	}

	<slot />
</article>

<style is:global>
	/* make the hero-image class more specific than the img selector below */
	article img.hero-image {
		margin-bottom: 3rem;
		object-fit: contain;
		display: block;
	}
</style>

<style lang="scss">
	h1:first-of-type {
		font-size: 2rem;
		margin-bottom: 3rem;
	}

	article {
		container-type: inline-size;

		:global(h2) {
			font-size: 1.5rem;
			margin: 3rem 0 0.75rem 0;
		}

		:global(h3) {
			font-size: 1.25rem;
			margin: 1.5rem 0 0.5rem 0;
		}

		:global(blockquote) {
			margin: 1em 0 1em 2.5em;
			font-size: inherit;
		}

		:global(blockquote:first-of-type) {
			margin: 2em 0 2em 2.5em;
		}

		:global(p) {
			overflow: auto;
		}

		:global(ol) {
			margin-bottom: 1em;
		}

		:global(ol li) {
			list-style: decimal outside;
			margin-bottom: .5em;
		}

		:global(ul li) {
			margin-bottom: .25em;
		}

		:global(table) {
			margin: 1em 0;
		}

		:global(td) {
			vertical-align: top;
			padding: 0 1em .5em 0;
		}

		:global(dl) {
			padding-left: var(--spacing-lg);
			margin: 1em 0;
		}

		:global(dt) {
			font-weight: bold;
			color: var(--text-color-secondary);
		}

		:global(dd) {
			margin: 0 0 1em 0;
		}

		:global(p code, dd code) {
			font-weight: normal;
			color: var(--color-inline-code);
		}

		:global(pre, blockquote:not(:has(img)):not(:has(table)):not(:has(p))) {
			color: var(--color-code-text) !important;
			background-color: var(--color-surface) !important;
			border-left: 3px solid var(--color-border);
			padding: 1em 1em 1em 2em;
			margin: 1em 0 1em var(--spacing-lg);
			border-radius: unset;
		}

		:global(pre code) {
			background-color: var(--color-surface) !important;
			display: block;
			line-height: 1.4;
			tab-size: 2;
		}

		:global(section.footnotes) {
			padding-inline-start: var(--spacing-lg);
			margin: 5rem 0;
			color: var(--text-color-muted);
			font-size: smaller;
		}

		:global(section.footnotes ol) {
			padding-left: 0;
			margin: 0;
		}

		@container (min-width: 0) {
			:global(img) {
				display: block;
				max-width: 100%;
				max-height: 100cqw;
				height: auto;
				object-fit: contain;
				object-position: left;
				margin: var(--spacing-sm) 0;
			}
		}
	}
</style>
