---
import SectionItem from "@/components/SectionItem.astro";
import Section from "@/components/Section.astro";
import { getCommands } from "@/utils/getCommands";

const commands = await getCommands("dateDescending")
---

<Section
	title="fireworks"
	href="fireworks/"
>
	<p slot="description">
		A collection of free productivity-enhancing extensions that I've
		built for <a href="https://www.adobe.com/products/fireworks/">Adobe
		Fireworks</a> using JavaScript, ActionScript and Flex. The most
		recent ones include:
	</p>

	{commands.slice(0, 3).map(({ slug, data: { name, summary } }) => (
		<SectionItem
			title={name}
			href={`/fireworks/about/${slug}`}
			addMore=true
		>
			{summary}
		</SectionItem>
	))}

	<li>
		<a href="fireworks/">See all the extensions</a>
	</li>
</Section>
