---
import ParaWithMore from "./ParaWithMore.astro";

interface Props {
	title: string;
	href: string;
	addMore?: boolean;
}

const { title, href, addMore } = Astro.props;
---

<li>
	<h3>
	  <a href={href}>{title}</a>
	</h3>

	<ParaWithMore href={addMore && href}>
		<slot />
	</ParaWithMore>

	<p>
		<slot name="extra" />
	</p>
</li>

<style>
	li {
		margin-bottom: 1.5rem;
	}

	h3 {
		font-size: 1rem;
		margin-bottom: .5rem;
	}

	p {
		padding: 0 var(--spacing-lg);
	}
</style>
