---
	// filter the split pathname to ignore leading or trailing slashes
const [section, ...restOfPath] = Astro.url.pathname
	.split("/")
	.filter(Boolean);
---

<div class="site-name">
	<a href="/" aria-current={section ? undefined : "page"}>
		john<strong>dunning</strong>.com/
	</a>
</div>

<header>
	{section &&
		<a href={`/${section}/`} aria-current={restOfPath.length ? undefined : "page"}>{section}</a>
	}
</header>

<style lang="scss">
	header, .site-name {
		color: #666;
		font-size: 1.75rem;
		font-weight: bold;
		margin: 1.25rem 0 2rem 0;
		position: relative;

		a[aria-current] {
			pointer-events: none;
		}

		a:visited {
			color: inherit;
		}
	}

	.site-name {
		grid-area: site-name;

		strong {
			color: black;
		}
	}

	header {
		color: var(--highlight);
		grid-area: header;
	}
</style>
