---
import Page from "./Page.astro";
import Header from "./Header.astro";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<Page title={title}>
	<div class="content">
		<Header title={title} />
		<main>
			<slot />
		</main>
		<slot name="sidebar" />
	</div>
</Page>

<style>
	main {
		margin-bottom: 5rem;
		grid-area: main;
	}
</style>
