---
import Page from "./Page.astro";
import Header from "./Header.astro";
import type { MetadataProp } from "@/components/Metadata.astro";

interface Props {
	title?: string;
	meta?: MetadataProp;
}

const { title, meta } = Astro.props;
---

<Page
	title={title}
	meta={meta}
>
	<div class="content">
		<Header title={title} />
		<main>
			<slot />
		</main>
		<slot name="sidebar" />
	</div>
</Page>

<style>
	main {
		margin-bottom: 5rem;
		grid-area: main;
	}
</style>
