---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import DisqusComments from "@/components/DisqusComments.astro";
import heroImage from "@/assets/yalpf/md/frame-in-london.jpg";
import { Content } from "@/content/yalpf.md";

const title = "Yet Another Laptop Picture Frame";
---

<Layout title={title}>
	<article>
		<h1>
			Yet Another Laptop Picture Frame
		</h1>

		<Image src={heroImage} alt="The picture frame in situ" />

		<Content />
	</article>

	<DisqusComments
		title={title}
		id="yalpf"
	/>
</Layout>

<style lang="scss">
	article {
		container-type: inline-size;

		h1 {
			font-size: 2rem;
			margin-bottom: var(--spacing-xl);
		}

		& > img {
			margin-bottom: var(--spacing-xl);
		}

		:global(h2) {
			font-size: 1.5rem;
			margin: 3rem 0 0.75rem 0;
		}

		:global(p) {
				/* don't let the p's margins collapse with the img's */
			overflow: auto;
		}

		:global(li) {
			margin-bottom: var(--spacing-sm);
		}

		:global(li) > :global(ul) {
			margin-top: var(--spacing-sm);
		}

		@container (min-width: 0) {
			:global(img) {
				display: block;
				max-width: 100%;
				max-height: 100cqw;
				height: auto;
				object-fit: contain;
				object-position: left;
				margin: var(--spacing-sm) 0;
			}
		}
	}
</style>
