---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import { Content } from "./yalpf.md";
import heroImage from "@/assets/yalpf/md/frame-in-london.jpg";
---

<Layout title="Yet Another Laptop Picture Frame">
	<article>
		<h1>
			Yet Another Laptop Picture Frame
		</h1>

		<Image src={heroImage} alt="The picture frame in situ" />

		<Content />
	</article>
</Layout>

<style lang="scss">
	article {
		h1 {
			font-size: 2rem;
			margin-bottom: var(--spacing-xl);
		}

		& > img {
			margin-bottom: var(--spacing-xl);
		}

		:global(h2) {
			font-size: 1.5rem;
			margin: 3rem 0 0.75rem 0;
		}

		:global(img) {
			display: block;
			max-width: 100%;
			height: auto;
		}

		:global(p) {
			container-type: inline-size;
		}

		:global(li) {
			margin-bottom: var(--spacing-sm);
		}

		:global(li) > :global(ul) {
			margin-top: var(--spacing-sm);
		}

		@container (min-width: 0) {
			:global(img) {
				max-width: 100%;
				max-height: 100cqw;
				object-fit: contain;
				object-position: left;
				height: auto;
				margin: var(--spacing-sm) 0;
			}
		}
	}
</style>
